body {
  background-color:black;
}

h1 {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color:pink;
  color:red;
}

p {
  font-family:Arial, Helvetica, sans-serif;
  color:white;
}